.sidenav {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  padding: 8px 8px;
  text-decoration: none;
  color: black;
}

.active {
  background-color: rgba(61, 61, 192, 0.418);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 20px;
  width: 4px;
  background-color: rgb(53, 53, 253);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
