<form class="form-container" [formGroup]="loginForm" (submit)="submitForm()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (emailErrorMessage) {
      <mat-error>{{ emailErrorMessage }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <button type="button" mat-icon-button matSuffix (click)="showPassword()">
      <mat-icon>{{
        isShowPassword() ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <input
      matInput
      [type]="isShowPassword() ? 'text' : 'password'"
      formControlName="password"
    />
    @if (passwordErrorMessage) {
      <mat-error>{{ passwordErrorMessage }}</mat-error>
    }
  </mat-form-field>
  <button mat-flat-button type="submit">Login</button>
</form>
<p class="auth-link">
  Don't have an account? <a routerLink="/auth/register">Register</a>
</p>
